.msg-error {
    color: red;
    height: 25px;
}

#icon-error {
    color: red;
}

.input-error {
    border-color: red;
}

.input-error:focus {
    border-color: red;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}